.flow_chart {
    min-width: 58vw;
    /* justify-content: center; */
    display: flex;
    overflow: auto;
    flex-direction: column;
    height: 90vh;
    border:2px solid rgb(175, 174, 174);
    /* padding: 0 1rem 0 0; */
    margin:0 0 0 1rem;
    border-radius: 11px;
}

.topic {
    display: flex;
    flex-direction: column;
    min-width: 17rem;
    max-width: 19rem;
    height: 43vh;
    /* background: #bce1bc; */
    justify-content: center;
    border-left-width: 3px;
    border-left-color: black;
    border-left-style: solid;
    position: relative;
}

.title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.sub_topic {
    border-left-width: 3px;
    display: flex;
    justify-content: center;
}

.outer_border {
    border: 2px solid yellow;
    margin: 0 0 0 1rem;
}

.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    position: absolute;
    left: -9px;
}

.block {
    display: flex;
    justify-content: center;
}

.head {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
}
.info_container{
    position: relative;
}

button.btn_add {
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid yellow; */
    padding: 4px 28px;
    background: white;
    border-color: transparent;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
    color: green;
}



.title{
    position: relative;
}
.pencil {
    position: absolute;
    width: auto;
    height: 1.3rem;
    right: 0;
    margin: 0.2rem;
    cursor: pointer;
}









/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(5, 170, 5), red);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, yellow, red);
}