@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,700&display=swap');

.Title_h2 {
    font-family: 'Zilla Slab', serif!important;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 3px 2px 2px rgb(0 0 0 / 10%);
    color: #22094ed9;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.Title_h2:hover{
    text-shadow: 4px 5px 2px rgb(0 0 0 / 10%);
}
.Title_img{
    width: auto;
    height: 3rem;
    
}
a:hover{
    color:#481d95;
}
.hava{
    color: #333333ba;
    font-size: 1rem;
}




@media screen and (max-width:501px) {
    .Title_h2{
        font-size: x-large;
    }
}
@media screen and (max-width:415px) {
    .Title_h2{
        font-size: larger;
    }
    .hava{
        font-size: 0.9rem;
    }
}